---
import CircleX from "@icons/CircleX.astro";
import Check from "@icons/Check.astro";

interface Props {
	texto: string;
    class: string;
    sized: string;
    checked: boolean;
}

const { texto, checked, sized } = Astro.props
const { class: className, ...rest } = Astro.props; 

---
<li class={`flex ${checked ? '' : 'opacity-50'}`}{...rest}>
    <span class="flex w-1/12">
        {checked ? <Check width={sized} height={sized} /> : <CircleX width={sized} height={sized}/>}
    </span>
    <span class="truncate">
        {texto}
    </span>
</li>

<style>
    
</style>