---
import CircleX from "@icons/CircleX.astro";
import Check from "@icons/Check.astro";

interface Props {
	texto: string;
    class: string;
    sized: string;
    checked: boolean;
}

const { texto, checked, sized } = Astro.props
const { class: className, ...rest } = Astro.props; 

---
<li class={`${checked ? '' : 'opacity-50'}`}{...rest}>
    {checked ? <Check width={sized} height={sized} /> : <CircleX width={sized} height={sized}/>}
    {texto}
</li>

<style>
    
</style>